*.opt
*.lst
*.GEN
*.gen
*.log
*.dat
*.g00
*.gdx
*.zip
*.bas
*.txt

*/gdx/
*/lst/
*/datasets/
*/loadpoint/



GTAPWiNDC/gtap9/2004
GTAPWiNDC/gtap9/2007
GTAPWiNDC/gtap9/2011

GTAPWiNDC/gtap11/2011
GTAPWiNDC/gtap11/2017



data/*