*.opt
*.lst
*.gen
*.log
*.dat
*.g00
*.gdx
*.zip
*.bas
*.txt
*.csv
*.set
*.Rhistory
*.xlsx
*.r
*.png
*.gsp


*/gdx/
*/lst/
*/datasets/
*/loadpoint/

*.ipynb

GTAPWiNDC/20*



GTAPWiNDC/gtap9/gtap9


GTAPWiNDC/gtap11/gtap11/
GTAPWiNDC/gtap11/gtap11a


core/loadpoint

data/*

# LaTeX files
*.aux
*.blg
*.out
*.pdf
GTAPWiNDC/225b/gamsnext.cmd
gravity/tradedata/censuskey.gms
