*.opt
*.lst
*.gen
*.log
*.dat
*.g00
*.gdx
*.zip
*.bas
*.txt
*.csv
*.Rhistory
*.xlsx
*.r
*.png
*.gsp


*/gdx/
*/lst/
*/datasets/
*/loadpoint/


GTAPWiNDC/20*



GTAPWiNDC/gtap9/gtap9


GTAPWiNDC/gtap11/gtap11/
GTAPWiNDC/gtap11/gtap11a


core/loadpoint

data/*